#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.workoutSection{
  margin-bottom: 5rem;
}

.bodyWeightSection{
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.personalBestSection{
  margin-top: 1rem;
  margin-bottom: 5rem;
}