.workoutBody{
    background-color: hsl(180, 28%, 46%);
    border-radius: 1rem;
    height: auto;
}

.exerciseContainer{
    height: 20rem;
    overflow: auto;
    margin-bottom: 1rem;
}

.exerciseDiv{
    overflow: auto;
    display: grid;
    margin-left: 3rem;
    grid-template-rows: auto;
}


.exerciseGridTitle{
    display: grid;
    margin-top: 1rem;
    margin-left: 3rem;
    grid-template-columns: 19rem 6rem 6rem 6rem;
}

.exerciseGridTitle div{
    border-left: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.exerciseGridTitle .exerciseGridSets{
    border-right: 3px solid;
}

.exerciseGridTitle h4{
    margin: 0;
}

.workoutAddBTN{
    margin-right: 1rem;
}

.exerciseInfoDiv{
    display: grid;
    grid-template-columns: 19rem 6rem 6rem 6rem;
}

.exerciseInfoDiv div{
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 1.5px solid;
    border-bottom: 3px solid;
}

.exerciseInfoDiv .exerciseName{
    word-wrap: break-word;
}