.gridContainer{
    height: 30rem;
}

.workoutGrid{
    display: grid;
    grid-template-columns: 15rem auto;
    grid-gap: 1rem;
    height: 100%;
}

.workoutDate{
    display: grid;
    overflow: auto;
    grid-auto-rows: min-content;
    height: 100%;
}

button.dateBTN{
    padding: 0%;
    width: 100%;
    height: fit-content;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
}

button.dateAddBTN{
    height: 5rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: chartreuse;
    color: black;
}
